ASSIGMENT = 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "string"
b = [1,2,3,4,5,6,7,8,9]
c = 23.6,56.8,78.9
d = (2,3,4,5,6,7)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var2 =  '[DS, ML,python]'
print(type(var2))

<class 'str'>

In [3]:
var3 = ['DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

In [4]:
var4 = 1.
print(type(var4))

<class 'float'>

In [5]:
var1 = ' '
print(type(var1))

<class 'str'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [6]:
a = 2/8
b = 100%24
c = 23//5
d = 2**3

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
l = [1,2,3,4,"kuldeep", 23.4, 23.4, 8j+4, "deep","sudh"]


for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
kuldeep
<class 'str'>
23.4
<class 'float'>
23.4
<class 'float'>
(4+8j)
<class 'complex'>
deep
<class 'str'>
sudh
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
def main():
    try:
        # Input the two numbers
        A = int(input("Enter the value of A: "))
        B = int(input("Enter the value of B: "))

        # Initialize a counter for the number of divisions
        num_divisions = 0

        # Check if B is not zero (to avoid division by zero)
        if B != 0:
            while A >= B:
                A -= B
                num_divisions += 1

            # Print the result
            print(f"{A} is the remainder after {num_divisions} divisions of {B} into {A + B * num_divisions}.")
        else:
            print("Error: B cannot be zero.")

    except ValueError:
        print("Error: Please enter valid integer values for A and B.")

if __name__ == "__main__":
    main()

Enter the value of A:  100
Enter the value of B:  4

0 is the remainder after 25 divisions of 4 into 100.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
# Create a list of 25 integers
my_list = [10, 21, 33, 42, 57, 60, 72, 85, 99, 105,
           120, 132, 147, 150, 165, 180, 192, 210, 225,
           240, 252, 267, 280, 294, 300]

# Check each element in the list
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

10 is not divisible by 3.
21 is divisible by 3.
33 is divisible by 3.
42 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
72 is divisible by 3.
85 is not divisible by 3.
99 is divisible by 3.
105 is divisible by 3.
120 is divisible by 3.
132 is divisible by 3.
147 is divisible by 3.
150 is divisible by 3.
165 is divisible by 3.
180 is divisible by 3.
192 is divisible by 3.
210 is divisible by 3.
225 is divisible by 3.
240 is divisible by 3.
252 is divisible by 3.
267 is divisible by 3.
280 is not divisible by 3.
294 is divisible by 3.
300 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable:
These data types can be modified after creation. They’re like that arts-and-crafts project you can keep adding glitter to!
When you change something in a mutable object, it’s still the same object—just with a fresh coat of paint.
Examples:
Lists: You can add, remove, or modify elements in a list.
Dictionaries: You can update values associated with keys.
Sets: You can add or remove elements.

In [16]:
#example
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

Immutable:
These data types are set in stone once created. They’re like ancient artifacts—unchanging and mysterious.
When you modify an immutable object, you’re actually creating a new object with the changes.
Examples:
Strings: Once you create a string, you can’t change individual characters.
Tuples: Once you define a tuple, it remains fixed.
Integers, floats, and booleans: Their values can’t be altered.

In [17]:
my_string = "Hello"
new_string = my_string + " World"  # Creates a new string
print(new_string)  # Output: "Hello World"

Hello World