Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [10]:


# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64


Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['female', 'male', 'female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame = dataframe is just a tabular format of the data is called data frame.
series = series is one of the data structure in pandas and it's equivalent to the list

Differences between Series and DataFrame:

A Series has only one column, while a DataFrame can have multiple columns.
Series are one-dimensional, whereas DataFrames are two-dimensional.
Series are like individual columns, and DataFrames are like tables with multiple columns.

In [9]:
import pandas as pd

data = [1, 2, 3, 4, 5]
series_from_list = pd.Series(data)

data = {'a': 1, 'b': 2, 'c': 3}
series_from_dict = pd.Series(data)

index = ['a', 'b', 'c', 'd', 'e']
series_custom_index = pd.Series(data, index=index)

print(series_from_list)
print(series_from_dict)
print(series_custom_index)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
dtype: int64
a    1.0
b    2.0
c    3.0
d    NaN
e    NaN
dtype: float64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head() and tail():
These functions allow you to view the first few rows (head()) or last few rows (tail()) of a DataFrame.
Useful for quickly inspecting data.
describe():
Generates summary statistics (count, mean, standard deviation, min, max, etc.) for numeric columns.
Helps understand the distribution of data.
groupby():
Groups data based on one or more columns.
Useful for aggregation, such as calculating mean, sum, or count within groups.
sort_values():
Sorts the DataFrame based on specified columns.
Useful for arranging data in ascending or descending order.
filter():
Filters rows based on conditions.
Useful for selecting specific subsets of data.
apply():
Applies a function to each element or row in a DataFrame.
Useful for custom transformations or calculations.
pivot_table():
Creates a pivot table from a DataFrame.
Useful for summarizing data across multiple dimensions.
merge() and concat():
Combines multiple DataFrames horizontally (merge()) or vertically (concat()).
Useful for joining data from different sources.
fillna():
Fills missing values with specified values or methods (e.g., mean, median).
Useful for handling missing data.
drop():
Removes specified rows or columns from a DataFrame.
Useful for data cleaning or feature selection.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series:
A Pandas Series is value-mutable but size-immutable.
It means you can change the values within a Series (e.g., update an element), but you cannot change its length (number of elements).
DataFrame:
A Pandas DataFrame is both value-mutable and size-mutable.
You can modify both the values within the DataFrame (e.g., update a cell) and its structure (e.g., add or remove columns).
Panel (Deprecated):
Panels were deprecated in Pandas 0.25.0 and are no longer recommended for use.
They were three-dimensional data structures, but their usage has been replaced by MultiIndex DataFrames.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
import pandas as pd

# Create Series for authors
authors = pd.Series(['Alice', 'Bob', 'Claire'])

# Create Series for article counts
article_counts = pd.Series([210, 211, 114])

# Combine Series into a DataFrame
df = pd.DataFrame({'Author': authors, 'Article Count': article_counts})

# Print the DataFrame
print(df)

   Author  Article Count
0   Alice            210
1     Bob            211
2  Claire            114