Q1. What is a database? Differentiate between SQL and NoSQL databases.

What Is a Database?
A database is an organized collection of structured information or data, typically stored electronically in a computer system. It serves as a repository for storing, managing, and retrieving data efficiently. Here are some key points about databases:

Controlled by DBMS: A database is usually controlled by a Database Management System (DBMS). The DBMS handles tasks like data storage, retrieval, modification, and access control.
Structured Data: Most databases use a structured format where data is modeled in rows and columns within tables. This tabular structure makes querying and processing data efficient.
SQL: The most common type of database uses Structured Query Language (SQL) for writing and querying data.
SQL Databases:
Definition:
SQL databases are relational databases that have been widely used since the 1970s.
They store data in rows and tables, linked through relationships.
SQL is the programming language used to manage and query data in these databases.
Schema:
SQL databases have a predefined schema. Data must be organized and structured before being stored.
ACID properties (Atomicity, Consistency, Isolation, Durability) ensure transaction reliability.
Scalability:
SQL databases can scale vertically (adding more resources to a single server) or, less commonly, horizontally (sharding/partitioning).
Use Cases:
Ideal for structured data with well-defined relationships (e.g., financial records, customer data).
NoSQL Databases:
Definition:
NoSQL databases are non-relational and allow more flexible data structures.
They don’t strictly adhere to rows and columns.
Schema:
NoSQL databases have dynamic schemas. Data can be stored without strict predefining.
They handle unstructured or semi-structured data effectively.
Scalability:
NoSQL databases are designed for horizontal scalability (adding more servers).
They excel in distributed and large-scale environments.
Use Cases:
Well-suited for unstructured data (e.g., social media posts, sensor data, logs).
Commonly used in web applications, real-time analytics, and big data scenarios.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It’s a subset of SQL commands that focus on defining and managing the structure of database objects. In other words, DDL helps you create, modify, and delete the building blocks of your database.

Here are some essential DDL commands:

CREATE TABLE:
The CREATE TABLE statement allows you to create a new table in your database.
You define column names, data types, constraints, and other properties.

In [3]:
CREATE TABLE Customers (
    CustomerID INT,
    FirstName VARCHAR(255),
    LastName VARCHAR(255),
    Email VARCHAR(255)
);

SyntaxError: invalid syntax (1298772613.py, line 1)

ALTER TABLE:
The ALTER TABLE statement lets you modify an existing table.
You can add, delete, or rename columns, change data types, and more.

In [4]:
ALTER TABLE Customers
ADD PhoneNumber VARCHAR(20);

SyntaxError: invalid syntax (2107833768.py, line 1)

DROP TABLE:
The DROP TABLE statement deletes an entire table from the database.
Be cautious—this action permanently removes all data in the table!

In [5]:
DROP TABLE Shippers;

SyntaxError: invalid syntax (3794663360.py, line 1)

TRUNCATE TABLE:
The TRUNCATE TABLE statement removes all data from a table but keeps the table structure intact.
It’s faster than DELETE because it doesn’t log individual row deletions.

In [6]:
TRUNCATE TABLE Categories;

SyntaxError: invalid syntax (1896059612.py, line 1)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL commands that allow you to interact with data stored in a database. These commands help you manipulate, insert, update, and delete data.

INSERT:
The INSERT command lets you add new rows of data into an existing table.
Imagine you’re at the “Mickey Mouse Children’s Hospital” (yes, we’re keeping it adorable!). As the data administrator, you’d use INSERT to add patient records.

In [7]:
INSERT INTO Patient (PatientID, Surname, FirstName, DOB, Sex, Weight, Height, Vaccinated)
VALUES (15225, 'Gupta', 'Aarav', '05/10/2019', 'M', 18.7, 27.8, 'N');

SyntaxError: invalid syntax (2653488369.py, line 1)

UPDATE:
The UPDATE command modifies existing data in a table.
Suppose you need to adjust some patient information—maybe Deniz Smith’s weight changed:

In [8]:
UPDATE Patient
SET Weight = 22.0
WHERE PatientID = 15223;

SyntaxError: invalid syntax (957522662.py, line 1)

DELETE:
The DELETE command removes one or more records from a table based on specified conditions.
Let’s say Arjun Agarwal is no longer a patient:

In [9]:
DELETE FROM Patient
WHERE PatientID = 15224;

SyntaxError: invalid syntax (923768421.py, line 1)

Q4. What is DQL? Explain SELECT with an example.

DQL is the part of SQL that allows us to query data from a database. Think of it as the Sherlock Holmes of SQL—it investigates, retrieves, and presents evidence (data) from the scene (tables).

Basic SELECT:
The simplest form of SELECT retrieves all rows and columns from a single table.
Imagine we have a table called “Cats” (because who doesn’t love cats?). We want to know everything about these feline friends:

In [10]:
SELECT * FROM Cats;

SyntaxError: invalid syntax (3656334238.py, line 1)

Selecting Specific Fields:
Sometimes we’re picky (like a cat choosing its favorite sunbeam). We can select specific columns:

Sorting and Grouping:
We can sort the results too. Let’s arrange our cats by age:

Aliases:
Cats have nicknames, right? We can give columns aliases:

Filters (WHERE Clause):
Suppose we only want senior cats (age greater than 10):

Limiting Results:
Sometimes we don’t want the whole litter. Let’s limit it to 5:

Q5. Explain Primary Key and Foreign Key.

Primary Key (PK): A primary key is a unique identifier for each record (or row) in a database table. It ensures that no two records have the same value for the primary key column. Here are some key points about primary keys:
Uniqueness: Each value in the primary key column must be unique across all records in the table.
Not Null: A primary key value cannot be null (empty).
Stability: Once assigned, the primary key value should not change over the lifetime of the record.
Example: In a table storing information about students, the student ID (a unique number) could serve as the primary key.
Foreign Key (FK): A foreign key establishes a relationship between two tables in a database. It refers to a column in one table that corresponds to the primary key in another table. Here’s what you need to know about foreign keys:
Referential Integrity: A foreign key maintains referential integrity by ensuring that values in the referencing (child) table match existing values in the referenced (parent) table.
Relationships: Foreign keys define relationships, such as one-to-many or many-to-one, between tables.
Example: If you have a “Orders” table and a “Customers” table, the “CustomerID” column in the “Orders” table could be a foreign key referencing the “CustomerID” primary key in the “Customers” table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
import mysql.connector

# Replace with your actual database credentials
db_config = {
    "host": "localhost",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database_name",
}

# Establish the connection
try:
    connection = mysql.connector.connect(**db_config)
    print("Connected to MySQL successfully!")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit()

# Create a cursor object
cursor = connection.cursor()

# Execute a query
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetch results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

ModuleNotFoundError: No module named 'mysql'

In [12]:
pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.2.4.tar.gz (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.4/90.4 kB 3.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [27 lines of output]
      /bin/sh: 1: pkg-config: not found
      /bin/sh: 1: pkg-config: not found
      /bin/sh: 1: pkg-config: not found
      Trying pkg-config --exists mysqlclient
      Command 'pkg-config --exists mysqlclient' returned non-zero exit status 127.
      Trying pkg-config --exists mariadb
      Command 'pkg-config --exists mariadb' returned non-zero exit status 127.
      Trying pkg-config --exists libmariadb
      Command 'pkg-config --exists libmariadb' returned non-zero exit status 127.
      Traceback (most recent call last):
        File "/opt/conda/lib/python3.10/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 351, in <module>
          main()
        File "/opt/conda/lib/python3.10/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 333, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
        File "/opt/conda/lib/python3.10/site-packages/pip/_vendor/pep517/in_process/_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
        File "/tmp/pip-build-env-7o6b37k3/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 327, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=[])
        File "/tmp/pip-build-env-7o6b37k3/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 297, in _get_build_requires
          self.run_setup()
        File "/tmp/pip-build-env-7o6b37k3/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 313, in run_setup
          exec(code, locals())
        File "<string>", line 155, in <module>
        File "<string>", line 49, in get_config_posix
        File "<string>", line 28, in find_package_name
      Exception: Can not find valid pkg-config name.
      Specify MYSQLCLIENT_CFLAGS and MYSQLCLIENT_LDFLAGS env vars manually
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.
Note: you may need to restart the kernel to use updated packages.